<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd">

  <http access-denied-page="/access-denied.html" use-expressions="true">
    <form-login login-page="/login.html" authentication-failure-url="/login.html?failed=1" authentication-success-handler-ref="customAuthenticationSuccessHandler" />
    <logout logout-url="/logout.html" logout-success-url="/index.html" />
    <intercept-url pattern="/mentor/**" access="hasRole('ROLE_MENTOR')" />
    <intercept-url pattern="/participant/**" access="hasRole('ROLE_PARTICIPANT')" />
  </http>

  <authentication-manager alias="authenticationManager">
    <authentication-provider user-service-ref="customUserDetailsService" />
  </authentication-manager>
 
</beans:beans>